@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+Thai:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    font-family: "Kanit", serif;
}
@layer components {
    .sidebar-menu{
        @apply text-lg font-bold text-[#608BC1] text-center py-2 transition duration-100  hover:cursor-pointer w-5/6 ;
        @apply flex items-center justify-start rounded-l-xl pl-2;
    }
    .activeclass{
        @apply bg-blue-400  pl-3 text-white;
    }

    .inputclass_Outbound{
        @apply w-2/4 p-2 mr-3 rounded-md border border-black outline-none
    }
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

      



}
